.container {
  background-color: #03CC83;
  text-emphasis-color: #0F3B1C;
}

.landing_page_body {
  background-color: darkgray;

}
.navbar-brand {
  width: 100px;
  height: 100px;
}
.landing_page_icon {
  float: left;
}