/* I have no idea what this stuff is for */
.container-landing {
  background-color: #03CC83;
  border: 3px solid green;
}

.title {
  background-color: #03cc83;
  color:#014f33;
  text-align: center;
}

.icon {
  float: left;
  width: 50px;
  height: 100px;
  padding: 0 5%;
}

.body-text {
  padding: 5%;
  color: #014f33;
}

/* Navigation Bar */
    /* Style the navigation bar */

    .nav-container {
      display: flex;
      height: 100px;
      overflow: hidden;
      background-color: #03cc83;
      padding: 0 10%;
    }

    .navbar {
      display: flex;
      flex-grow: 1;
    }

    /* Navbar Containers */
    .logo {
      height: 100px;
      padding: 5px;
    }

    .navbar-left {
      display: flex;
        height: 100px;
        flex-grow: 1;
        justify-content: flex-start;
    }

    .navbar-form {
        display: flex;
        flex-grow: .2;
        height: 100px;
        align-items: center;
    }

    .navbar-right {
        display: flex;
        height: 100px;
        flex-grow: .2;
        justify-content: flex-end;
    }


    /* Navbar Button */
    .navbar a {
      color: black;
      text-decoration: none;
      display: flex;
      width: 100px;
      flex-grow: 0;
      justify-content: center;
      align-items: center;
    }


    /* Navbar Form */
    .navbar-submit {
      border: 1px solid black;
      background: #026843;
      display: flex;
      flex-grow: 3;
      height: 50px;
    }

    .navbar-text {
      border: 1px solid black;
      display: flex;
      flex-grow: 1;
      padding-left: 5px;
      height: 50px;
    }

    /* Navbar links on mouse-over */
    .navbar a:hover {
      background-color: #029a63;
    }

    .navbar a:focus {
      background-color: #03b373;
    }

    .navbar a:active {
      background-color: #03b373;
    }


    /* NavBar List Properties */
    .navbar ul {
      list-style: none;
    }


/* Create New Flashcard Set */

/* Containers */
.set-container {
  border: 1px solid orangered;
  display: flex;
  flex-direction: column;
  padding: 0px 10%;
  background: #028153;
}
.title-container {
  border: 1px solid greenyellow;
  flex-direction: column;
  justify-content: flex-start;
  width: 50%;
  background: whitesmoke;
}

.form-group {
  display: flex;
  padding: 5px;
  border: 1px solid black;
}

.form-title {
  display: flex;
  flex-grow: 0;
  border: 1px solid black;
  width: 15%;
}

.form-input {
  display: flex;
  flex-grow: 0;
  border: 1px solid black;
  width: 40%;
}

.flashcard-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: #03b373;
  margin-top: 40px;
  margin-bottom: 40px;
  border: 1px solid black;
}

/* Bottom Flashcard */
.bottom-flashcard {
  display: flex;
  height: 300px;
}

  /* Left Flashcard */
  .left-flashcard {
    display: flex;
    width: 45%;
    border: solid 1px blue;
  }

  /* Middle Flashcard */
  .middle-flashcard {
    display: flex;
    width: 10%;
    border: solid 1px blue;
    justify-content: center;
    align-items: center;
  }

  .middle-swap {
    display: flex;
  }

  .middle-button {
    height: 30px;
  }

  /* Right Flashcard */
  .right-flashcard {
    display: flex;
    width: 45%;
    border: solid 1px blue;
  }



/* Toolbar Properties */
.tools-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 50px;
  border: solid 1px red;
}

  /* Brush */
      .brush-container {
        display: flex;
        width: 20%;
        border: solid 1px green;
      }

      .brush-group {
        display: flex;
        width: 50%;
      }

  /* Text */
    .text-container {
      display: flex;
      width: 40%;
      border: solid 1px blue;
    }

    .text-button {
      border: solid 1px blue;
    }


  /* Color */
    .color-container {
      display: flex;
      width: 10%;
      border: solid 1px yellow;    
    }

    .color-selected {
      border: solid 1px yellow;
    }

    .color-picker {
      border: solid 1px yellow;
    }

  /* Background */
    .background-container {
      display: flex;
      width: 20%;
      border: solid 1px orange;
    }

    .background-group {
      display: flex;
      width: 50%;
    }

    .background-dropdown {
      border: solid 1px orange;
    }


  /* Save Container */
    .save-container {
      display: flex;
      border: solid 1px purple;
    }



  /* Submit Bar */
    .submitBar {
      display: flex;
      flex-direction: row-reverse;
      border: solid 1px black;
      padding: 20px;
    }



  .toolbar-icon {
    display: flex;
    height: 48px;
    width: 60%;
    justify-content: center;
    align-items: center;
    background-color: green;
    border: 1px solid black;
  }

  .toolbar-input {
    display: flex;
    background-color: lightgreen;
    width: 40%;
  }

  .toolbar-group {
    display: flex;
    width:10%;
  }