.container {
  background-color: #03CC83;
  border: 3px solid green;
}

.navbar {
  background-color: #03CC83;
  margin: auto;
  width: 80%;
  height: 70px;
  border: 3px solid green;
}

.navbar-logo {
  float: left;
  width: 35px;
}

.navbar-list {
  float: left;
}

.navbar-signin {
  float: right;
}

.navbar-button {
  height: 64px;
} 

.landing_page_body {
  background-color: darkgray;
}

.landing_page_icon {
  float: left;
}